<div class="container">

    <input ng-model="item.t" ng-change="cactrl.onSearch()">

    <pagination
        total-items="cactrl.pagination.totalCount"
        items-per-page="cactrl.pagination.limit"
        ng-model="cactrl.pagination.offset"
        max-size="cactrl.pagination.maxSize"
        boundary-links="false"
        previous-text="‹"
        next-text="›">
    </pagination>

    <div class="row">
        <div class="col-md-2">Title</div>
        <div class="col-md-3">Image</div>
        <div class="col-md-2">Alias</div>
        <div class="col-md-2">Category</div>
    </div>

    <div class="row" ng-repeat="item in cactrl.comics | filter: item.t | offset: {offset: cactrl.pagination.offset, limit: cactrl.pagination.limit}">
        <div class="col-md-2">
            <a href="" ng-bind="::item.t"></a>
        </div>
        <div class="col-md-3">
            <img ng-src="{{ item.im }}">
        </div>
        <div class="col-md-2" ng-bind="::item.a"></div>
        <div class="col-md-2" ng-bind="::item.c"></div>
    </div>

</div>