<section>
    <a id="currentPage" href="" class="sr-anchor"></a>
    <div class="row reader-header">
        <div class="col-sm-6 sr-title -title-neon -text-right">
            Chapter {{rmctrl.model.chapterIdx + 1}}
        </div>
        <div class="col-sm-6 sr-title -title-neon">
            {{rmctrl.model.index + 1}} / {{rmctrl.model.total + 1}}
        </div>
    </div>

    <button type="button" class="btn sr-btn -btn-close" ng-click="rmctrl.onCancel()">
        <i class="sr-icon -icon-close icon-cross"></i>
    </button>

    <c-reader ng-model="rmctrl.model"
              on-prev="rmctrl.onPrev()"
              on-next="rmctrl.onNext()">
    </c-reader>
</section>



