<div class="sr-menu" ng-class="{'active': isOpen}">
    <div class="sr-icon -icon-menu"  ng-class="{'active': isOpen}" ng-click="onOpen()">
        <div class="menu-inner"></div>
    </div>

    <div class="menu-content">
        <div class="sr-title -title-comic -title-underline">
            <i class="sr-icon -icon-share icon-cog -margin-right-5"></i>
            <span class="-v-middle -display-inline-block">Specifications:</span>
        </div>
        <ul class="sr-list -list-specs">
            <li class="list-item">Single page application</li>
            <li class="list-item">AngularJS &amp; NodeJS</li>
            <li class="list-item">Built-in prefetching</li>
            <li class="list-item">API switcher</li>
            <li class="list-item">Remote and local mode</li>
        </ul>

        <div class="sr-title -title-comic -title-underline">
            <i class="sr-icon -icon-share icon-share2 -margin-right-5"></i>
            <span class="-v-middle -display-inline-block">Share:</span>
        </div>
        <ul class="sr-list -list-share">
            <li class="list-item">
                <a href="http://twitter.com/home?status=SeeR+http://davidlazic.github.io/SeeR/#/" target="_blank"><i class="sr-icon icon-twitter2"></i></a>
            </li>
            <li class="list-item">
                <a href="http://www.facebook.com/share.php?u=http://davidlazic.github.io/SeeR/#/&title=SeeR" target="_blank"><i class="sr-icon icon-facebook2"></i></a>
            </li>
            <li class="list-item">
                <a href="https://plus.google.com/share?url=http://davidlazic.github.io/SeeR/#/" target="_blank"><i class="sr-icon icon-google-plus2"></i></a>
            </li>
        </ul>

        <div class="menu-footer">
            <div class="footer-border-b">
                <a href="mailto:incognetii@gmail.com" target="_blank">David Lazic</a> &copy; 2015
            </div>
        </div>
    </div>
</div>