<section class="sr-wrapper -wrapper-view">

    <div class="row sr-wrapper -wrapper-bar">
        <div class="col-sm-6 -padding-left-45 -text-left">
            <loader></loader>
            {{appctrl.item.name}}
        </div>
        <div class="col-sm-6 -text-right">
            <a href="#/" ng-click="appctrl.onResetMode()">
                <i class="sr-icon -icon-green icon-undo2" title="Home"></i>
            </a>
        </div>
    </div>

    <div ng-include ng-if="!appctrl.item" src="'/app/components/templates/partials/comic-default.tpl.html'"></div>

    <div ng-include ng-if="appctrl.item" src="'/app/components/templates/partials/comic.tpl.html'"></div>


    <ul>
        <li ng-repeat="comic in appctrl.item.chapters">
            <a href ng-click="appctrl.onRead(appctrl.item.mangaId, comic.chapterId, $index)">{{comic.chapterId}}</a>
        </li>
    </ul>

</section>