//
// SeeR form text
// --------------------------------------------------

.sr-form-text {
    @include transition(all 0.3s ease);
    display: block;
    padding: 0 25px 0 10px;
    height: 35px;
    width: 100%;
    max-width: 320px;
    font-family: $font-family-openLight;
    box-shadow: none;
    background-color: $gray-darker;
    border: none;
    border-bottom: 1px solid $red-darker;

    &:focus {
        outline: none;
    }

    &.-form-md {
        max-width: 320px;
        max-width: none;
    }
}

@media screen and (min-width: $screen-x-lg) {
    .sr-form-text {

        &.-form-md {
            max-width: 420px;
        }
    }
}