//
// SeeR form text
// --------------------------------------------------

.sr-form-text {
    @include border-radius(4px);
    @include transition(all 0.3s ease);
    display: block;
    padding: 0 10px;
    height: 35px;
    width: 100%;
    max-width: 320px;
    box-shadow: none;

    &:focus {
        outline: none;
    }
}