//
// SeeR table
// --------------------------------------------------

.sr-form-table {
    padding: 0 25px 0 30px;

    .form-row {
        margin-bottom: 10px;
        background-color: $gray-dark;
        box-shadow: 0 0 10px -1px #000;
    }
}