<section>

    <div class="row sr-wrapper -wrapper-fixed-header">
        <div class="col-sm-6">
            <input class="sr-form-text"
                   ng-model="item.t"
                   ng-change="cctrl.onSearch()"
                   ng-model-options="{debounce: 350}"
                   placeholder="Search">
        </div>
        <div class="col-sm-6 -line-height-45">
            <pagination
                class="sr-pagination"
                total-items="cctrl.pagination.totalCount"
                items-per-page="cctrl.pagination.limit"
                ng-model="cctrl.pagination.offset"
                max-size="cctrl.pagination.maxSize"
                boundary-links="true"
                previous-text="‹"
                next-text="›">
            </pagination>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-2">Title</div>
                <div class="col-md-3">Image</div>
                <div class="col-md-2">Category</div>
                <div class="col-md-2">Hits</div>
                <div class="col-md-2">Actions</div>
            </div>
        </div>
    </div>

    <div class="sr-wrapper -wrapper-table">
        <div class="sr-form-table">
            <div class="row form-row" ng-repeat="item in cctrl.comics | filter: item.t | offset: {offset: cctrl.pagination.offset, limit: cctrl.pagination.limit}">
                <div class="col-md-2">
                    <div ng-bind="::item.t"></div>
                </div>
                <div class="col-md-3">
                    <img ng-src="{{ item.im }}">
                </div>
                <div class="col-md-2">
                    <span ng-repeat="category in item.c" ng-bind="::category"></span>
                </div>
                <div class="col-md-2">
                    <div ng-bind="::item.h"></div>
                </div>
                <div class="col-md-2">
                    <i class="sr-icon -icon-lg icon-eye" ng-click="cctrl.onOpen(item)"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>