//
// SeeR animations
// --------------------------------------------------

@keyframes enterTop {

    0% {
        opacity: 0;
        transform: translate3d(-50%, 10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(-50%, 0, 0);
    }
}

@-webkit-keyframes enterTop {

    0% {
        opacity: 0;
        transform: translate3d(-50%, 10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(-50%, 0, 0);
    }
}