//
// SeeR globals
// --------------------------------------------------

img {
    max-width: 100%;
}

a {
    @include transition (all 0.3s ease);

    &:active,
    &:active:focus,
    &:focus,
    &:visited,
    &:link {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(57, 65, 33, 0.8);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}