<div class="container">

    <input ng-model="item.t" ng-change="cctrl.onSearch()">

    <pagination
        total-items="cctrl.pagination.totalCount"
        items-per-page="cctrl.pagination.limit"
        ng-model="cctrl.pagination.offset"
        max-size="cctrl.pagination.maxSize"
        boundary-links="false"
        previous-text="‹"
        next-text="›">
    </pagination>

    <div class="row">
        <div class="col-md-2">Title</div>
        <div class="col-md-3">Image</div>
        <div class="col-md-2">Alias</div>
        <div class="col-md-2">Category</div>
    </div>
    <style>
        /* The starting CSS styles for the enter animation */
        .fadeas.ng-enter {
          transition:0.5s linear all;
          opacity:0;
        }

        /* The starting CSS styles for the enter animation */
        .fadeas.ng-enter.ng-enter-active {
            transition:0.5s linear all;
          opacity:1;
        }

        .fadeas.ng-leave {
          transition:0.5s linear all;
          opacity:1;
        }
        .fadeas.ng-leave.ng-leave-active {
          opacity:0;
        }
    </style>
    <div class="row fadeas" ng-repeat="item in cctrl.comics | filter: item.t | offset: {offset: cctrl.pagination.offset, limit: cctrl.pagination.limit}">
        <div class="col-md-2">
            <button type="button" ng-click="cctrl.onOpen(item)" ng-bind="::item.t"></a>
        </div>
        <div class="col-md-3">
            <img ng-src="{{ item.im }}">
        </div>
        <div class="col-md-2" ng-bind="::item.a"></div>
        <div class="col-md-2" ng-bind="::item.c"></div>
    </div>

</div>