<div style="position: relative;">
    <button type="button" class="btn-asdf-left" ng-click="rctrl.onMoveLeft()">Left</button>

    <div class="slider" ng-class="{ '-loader-active' : rctrl.isLoading }">
        <ul reader-wrapper class="asdf" style="left: {{rctrl.posLeft}}; width: {{rctrl.wrapperWidth}}">
            <li ng-repeat="image in model.chapter track by $index" image-wrapper>
                <image-loader source="{{image}}"></image-loader>
            </li>
        </ul>
    </div>

    <button type="button" class="btn-asdf-right" ng-click="rctrl.onMoveRight()">Right</button>
</div>