//
// SeeR menu
// --------------------------------------------------

.sr-menu {
    @include transition(all 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000));
    position: fixed;
    top: 0;
    bottom: 0;
    right: -360px;
    width: 300px;
    z-index: 2100;
    background-color: transparent;

    .menu-content {
        @include transition(all 0.3s ease);
        padding: 40px;
        height: 100%;
        opacity: 0;
    }

    .menu-footer {
        position: absolute;
        padding: 10px 40px;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: $font-size-x-small;

        .footer-border-b {
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid $green-dark;
        }

        a {
            color: $blue-lighter;;

            &:hover {
                color: lighten($blue-lighter, 15);
            }
        }
    }
}

body {

    &.-menu-open {

        .sr-menu {
            right: 0;

            .menu-content{
                animation: fadeInLeft 0.5s forwards ease;
                -webkit-animation: fadeInLeft 0.5s forwards ease;
                animation-delay: 0.2s;
                -webkit-animation-delay: 0.2s;
            }
        }
    }

    &.-screen-sm {

        .sr-menu {
            display: none;
        }
    }
}