//
// SeeR titles
// --------------------------------------------------

.sr-title {

    &.-title-sm {
        font-size: $font-size-base;
    }

    &.-title-lg {
        font-family: $font-family-building;
        font-size: $font-size-h3;
    }

    &.-title-xxlg {
        font-family: $font-family-building;
        font-size: $font-size-h2;
    }

    &.-title-gray {
        color: $gray;
    }

    &.-title-comic {
        font-family: $font-family-juraSemibold;
        font-size: $font-size-base-lg;
        white-space: nowrap;
        color: lighten($green-dark, 30);
        cursor: default;
    }

    &.-title-logo {
        @include transition(opacity 0.3s ease);
        position: fixed;
        top: 2px;
        left: 10px;
        z-index: 5;
        font-family: $font-family-building;
        font-size: $font-size-large;
        text-transform: uppercase;
        text-align: right;

        &.ng-enter {
            opacity: 0;
        }

        &.ng-enter.ng-enter-active {
            opacity: 1;
        }

        &.ng-leave {
            opacity: 1;
        }

        &.ng-leave.ng-leave-active {
            @include transition(opacity 0.2s ease);
            opacity: 0;
        }
    }

    &.-title-neon {
        text-shadow: -1px 1px 8px $blue-lighter, 1px -1px 8px #fff;
    }

    &.-title-upper {
        text-transform: uppercase;
    }

    &.-title-margin-b {
        margin-bottom: 15px;
    }
}

@media screen and (min-height: $screen-v) {
    .sr-title {

        &.-title-sm {
            font-size: $font-size-medium;
        }

        &.-title-lg {
            font-size: $font-size-h2;
        }

        &.-title-xxlg {
            font-size: $font-size-h1;
        }

        &.-title-margin-b {
            margin-bottom: 30px;
        }
    }
}