//
// SeeR view
// --------------------------------------------------

.sr-view {
    position: absolute;
    height: 0;
    width: 0;

    &.-view-corner {

        &.-corner-tl {
            top: 40px;
            left: 0;
            border-top: 15px solid $red-darkest;
            border-bottom: 15px solid $gray-dark;
            border-left: 15px solid $red-darkest;
            border-right: 15px solid $gray-dark;
        }

        &.-corner-tr {
            top: 40px;
            right: 1px;
            border-top: 15px solid $red-darkest;
            border-bottom: 15px solid $gray-dark;
            border-left: 15px solid $gray-dark;
            border-right: 15px solid $red-darkest;
        }

        &.-corner-br {
            bottom: 0;
            right: 1px;
            border-top: 15px solid $gray-dark;
            border-bottom: 15px solid $red-darkest;
            border-left: 15px solid $gray-dark;
            border-right: 15px solid $red-darkest;
        }

        &.-corner-bl {
            bottom: 0;
            left: 0;
            border-top: 15px solid $gray-dark;
            border-bottom: 15px solid $red-darkest;
            border-left: 15px solid $red-darkest;
            border-right: 15px solid $gray-dark;
        }
    }
}