//
// SeeR switch
// --------------------------------------------------

.sr-switch {
    position: relative;
    display: inline-block;
    top: 3px;

    .switch-checkbox{
        position: absolute;
        visibility: hidden;
        z-index: -1;
    }

    .switch-label{
        @include border-radius(16px);
        position: relative;
        margin: 0;
        display: inline-block;
        width: 45px;
        height: 20px;
        cursor: pointer;

        &::before,
        &::after {
           position: absolute;
           display: block;
           content: "";
        }

        &::before{
            @include border-radius(16px);
            @include transition(all, 0.3s, ease);
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            background-color: $gray-dark;
            box-shadow: 0 0 6px -1px #000;
        }

        &::after{
            @include border-radius(100%);
            @include transition(all, 0.3s, ease);
            width: 17px;
            height: 17px;
            background-color: $red-darkest;
            top: 2px;
            bottom: 0;
            left: 1px;
            box-shadow: 0 0 2px 5px $red-darker;
        }
    }

    .switch-checkbox:checked{

        &+.switch-label{

            &::after{
                margin-left: 26px;
            }
        }
    }
}