//
// SeeR idle
// --------------------------------------------------

.sr-idle {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    box-shadow: inset 0 0 10px -1px #000;

    .image-element {
        display: none;
        width: 100%;
    }

    &::before{
        @include transition(all 0.3s ease);
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        animation: comicIdle 6s infinite ease;
        -webkit-animation: comicIdle 6s infinite ease;
        animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
        content: "";
        background: linear-gradient(to right, transparent, rgba(61, 34, 38, 0.9), transparent);
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: attr(idle-text);
        font-family: $font-family-building;
        font-size: $font-size-h3;
        text-align: center;
        text-transform: uppercase;
        line-height: 300px;
        color: rgba(22, 24, 24, 0.7);
    }

    &.-delayed {
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
    }

    &.active {
        box-shadow: none;

        &::before {
            display: none;
        }

        .image-element {
            display: block;
        }
    }
}

@media screen and (min-width: $screen-x-lg) {
    .sr-idle {
        min-height: 400px;

        &::after {
            font-size: $font-size-h2;
            line-height: 400px;
        }
    }
}