//
// SeeR labels
// --------------------------------------------------

.sr-label {
    font-family: $font-family-openLight;

    &.-label-tag {
        font-family: $font-family-juraRegular;
    }

    &.-label-author {
        text-transform: capitalize;

        &+.-label-author {

            &::before {
                content: ", ";
            }
        }
    }
}