//
// SeeR notification
// --------------------------------------------------

.sr-notification {
    position: fixed;
    top: auto;
    bottom: 10px;
    right: 10px;
    width: 100%;
    max-width: 300px;
    z-index: 5000;

    > div {

        &+div {
            margin-top: 15px;
        }
    }

    .sr-notification-inner {
        position: relative;
        padding: 15px 10px;
        margin: 0 auto;
        max-width: 560px;
        animation: notify 6s forwards ease;
        -webkit-animation: notify 6s forwards ease;
        font-family: $font-family-openLight;
        font-size: $font-size-small;
        text-align: center;
        color: #fff;
        background-color: $gray-dark;
        box-shadow: 0 0 10px -1px #000;

        &::before {
            position: absolute;
            display: block;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            border: 1px solid $green-dark;
            content: "";
        }

        .notification-title {

        }

        .notification-content {

        }

        .sr-icon {
            @include border-radius(50%);
            padding: 5px;
            position: absolute;
            top: -10px;
            left: -10px;
            background-color: $gray-dark;
            cursor: default;
        }

        &.-info {

            .sr-icon {

                &::before {
                    color: $blue-lighter;
                }
            }
        }

        &.-success {

            .sr-icon {

                &::before {
                    color: $green-dark;
                }
            }
        }

        &.-error {

            .sr-icon {

                &::before {
                    color: lighten($red-darker, 20);
                }
            }
        }
    }
}