//
// SeeR titles
// --------------------------------------------------

.sr-title {

    &.-title-sm {
        font-size: $font-size-base;
    }

    &.-title-lg {
        font-family: $font-family-juraLight;
        font-size: $font-size-h3;
    }

    &.-title-xxlg {
        font-family: $font-family-juraLight;
        font-size: $font-size-h2;
    }

    &.-title-gray {
        color: $gray;
    }

    &.-title-neon {
        text-shadow: -1px 1px 8px $blue-lighter, 1px -1px 8px #fff;
    }

    &.-title-upper {
        text-transform: uppercase;
    }
}

@media screen and (min-height: $screen-v) {
    .sr-title {

        &.-title-sm {
            font-size: $font-size-medium;
        }

        &.-title-lg {
            font-size: $font-size-h2;
        }

        &.-title-xxlg {
            font-size: $font-size-h1;
        }
    }
}