//
// SeeR buttons
// --------------------------------------------------

.sr-btn {
    @include border-radius(4px);
    margin: 0;
    padding: 0;
    display: inline-block;
    border: none;
    color: #fff;

    &.-btn-link {
        @include border-radius(0);

        &:hover {

            .sr-icon {
                color: lighten($green-dark, 20);
            }
        }

        &+.-btn-link {
            margin-left: 5px;
        }
    }

    &.-btn-mode {
        @include transition(all 0.2s ease);
        position: relative;
        margin-bottom: 20px;
        display: block;
        font-family: $font-family-juraLight;
        font-size: $font-size-large;

        &:hover {
            text-shadow: -1px 1px 8px $blue-lighter, 1px -1px 8px #fff;
        }

        &::after {
            display: block;
            content: attr(data-text);
        }
    }
}

@media screen and (min-height: $screen-v) {
    .sr-btn {

        &.-btn-mode {
            font-size: $font-size-h3;
        }
    }
}