//
// SeeR view
// --------------------------------------------------

.sr-view {
    position: absolute;
    height: 0;
    width: 0;

    &.-view-corner {

        &.-corner-tl {
            top: 50%;
            left: 50%;
            border-top: 15px solid $red-darkest;
            border-bottom: 15px solid $gray-dark;
            border-left: 15px solid $red-darkest;
            border-right: 15px solid $gray-dark;
            -webkit-animation: middleTopLeft 0.7s forwards ease-out;
            animation: middleTopLeft 0.7s forwards ease-out;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

        &.-corner-tr {
            top: 50%;
            right: 50%;
            border-top: 15px solid $red-darkest;
            border-bottom: 15px solid $gray-dark;
            border-left: 15px solid $gray-dark;
            border-right: 15px solid $red-darkest;
            -webkit-animation: middleTopRight 0.7s forwards ease-out;
            animation: middleTopRight 0.7s forwards ease-out;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

        &.-corner-br {
            bottom: 50%;
            right: 50%;
            border-top: 15px solid $gray-dark;
            border-bottom: 15px solid $red-darkest;
            border-left: 15px solid $gray-dark;
            border-right: 15px solid $red-darkest;
            -webkit-animation: middleBottomRight 0.7s forwards ease-out;
            animation: middleBottomRight 0.7s forwards ease-out;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

        &.-corner-bl {
            bottom: 50%;
            left: 50%;
            border-top: 15px solid $gray-dark;
            border-bottom: 15px solid $red-darkest;
            border-left: 15px solid $red-darkest;
            border-right: 15px solid $gray-dark;
            -webkit-animation: middleBottomLeft 0.7s forwards ease-out;
            animation: middleBottomLeft 0.7s forwards ease-out;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }
    }
}