//
// SeeR labels
// --------------------------------------------------

.sr-label {
    font-family: $font-family-openLight;

    &.-label-host {

        &.active {

        }
    }

    &.-label-tag {
        font-family: $font-family-juraRegular;
    }

    &.-label-multi {
        text-transform: capitalize;

        &+.-label-multi {

            &::before {
                content: ", ";
            }
        }
    }
}