//
// SeeR modal
// --------------------------------------------------

.sr-modal {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    &.-modal-reader {

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
        }

        .modal-dialog{
            @include transition(all 0.3s ease);
            margin: 0;
            height: 100%;
            width: 100%;
            transform: none !important;
        }

        .modal-content {
            @include border-radius(0);
            box-shadow: none;
        }

        .modal-backdrop.in {
            opacity: 1;
        }

        .modal-lg {
            margin: 0;
            width: 100% !important;

        }

        .slider{
            margin: 0 auto;
            position: relative;
            width: 700px;
            overflow: hidden;
        }

        .slider.-loader-active::after{
            content: "Loading";
            display: block;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            background-color: #fff;
        }

        .slider > ul{
            position: relative;
            -webkit-transition: 0.3s left;
            -moz-transition: 0.3s left;
            -ms-transition: 0.3s left;
            -o-transition: 0.3s left;
            list-style: none;
            margin: 0; padding: 0;
        }

        .slider ul > li {
            width: 700px;
            float: left;
        }

        .slider ul > li > img {
            max-width: 100%;
            width: 99%;
        }

        .btn-asdf-left {
            position: absolute;
            top: 0;
            left: 50px;
        }

        .btn-asdf-right{
            position: absolute;
            top: 0;
            right: 50px;
        }

        .asdf::after {
            position: absolute;
            content: "Loading";
            background-color: #fff;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &.-modal-switch {
        overflow: hidden;

        &.fade {

            .modal-dialog {
                @include transition(all 0.5s ease);
                top: 50%;
                transform: translate3d(0, 15%, 0);
                opacity: 0;
            }
        }

        &.fade.in {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.7);

            .modal-dialog {
                margin: 0 auto;
                height: 100%;
                max-width: 600px;
                animation: fadeInTop 0.5s forwards ease;
                -webkit-animation: fadeInTop 0.5s forwards ease;
            }
        }

        .modal-content {
            @include border-radius(0);
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 0 0 15px -1px $blue-darkest;
        }

        .modal-inner {
            position: relative;
            padding: 34px 40px 30px;
            text-align: center;
            color: #fff;
            background-color: $gray-darker;
            border: 40px solid $gray-dark;
            box-shadow: inset 0 0 10px -1px #000;

            &::before,
            &::after {
                position: absolute;
                content: '';
                pointer-events: none;
            }

            &::before {
                top: -30px;
                left: -30px;
                right: -30px;
                bottom: -30px;
                border: 2px solid $red-darkest;
                box-shadow: 0 0 10px -1px #000;
            }

            &::after {
                top: -27px;
                left: -27px;
                right: -27px;
                bottom: -27px;
                box-shadow: 0 0 10px -1px #000;
            }
        }
    }
}