//
// SeeR icon
// --------------------------------------------------

.sr-icon {
    display: inline-block;
    color: #000;
    cursor: pointer;

    &.-icon-lg {
        font-size: $font-size-big;
    }

    &.-icon-back {
        font-size: $font-size-x-medium;
        color: lighten($green-dark, 10);
    }
}